@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300');
*{
  box-sizing: border-box;

}
.App {
  text-align: center;
  margin: 0 auto;
}
body{
  font-family: 'Poppins', sans-serif;
}

main{
  min-height: 200vh;
  margin-top: 60px;
padding: 6rem;

}
a{
  text-decoration: none;
}